<div class="flex-hero" style="background-image: url(assets/img/faq-hero.jpg);;">
  <div class="grid-container">
    <div class="grid-x align-center-middle text-center">
    </div>
  </div>
</div>

<div class="faq-copy">
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-12">
        <h2>Frequently Asked Questions about CyberClarity360&trade;</h2>
      </div>
      <div class="medium-12">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>What is CyberClarity360&trade;?</i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p> CyberClarity360™ provides an independent 360⁰ assessment of the cyber risk in your supply chain, delivered via a secure exchange platform. Our patent pending scoring system provides complete transparency and flexibility, and allows our clients to benefit from the collective power of the CyberClarity360™ community.</p>
              <p>Developed by Duff & Phelps’ Global Risk Team of industry thought leaders, CyberClarity360™ draws upon our deep experience helping organizations manage complex global data risk challenges.</p>
            </div>
          </li>
          <hr>

          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>What are the benefits of CyberClarity360&trade; for Corporations and Providers? </i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <div class="grid-x">
                <div class="medium-6">
                  <ul class="benefits-list">
                    <p class="text-center">For Corporations</p>
                    <li>Quickly understand supply chain cyber risk</li>
                    <li>Strengthen relationships through greater transparency</li>
                    <li>Independent, objective bi-annual assessments</li>
                    <li>Significant cost savings</li>
                    <li>Reduced time to onboard vendors</li>
                    <li>Establish benchmarks for third-party providers</li>
                  </ul>
                </div>
                <div class="medium-6">
                  <ul class="benefits-list">
                    <p class="text-center">For Providors</p>
                    <li>Regular cyber resilience and data privacy assessments</li>
                    <li>Prioritized recommendations to help remediate vulnerabilities and reduce risk</li>
                    <li>The ability to share CyberClarity360™ Score and Assessment history to gain significant cost savings</li>
                    <li>Benchmark against peers </li>
                    <li>Preferred access to Duff & Phelps Global Data Risk solutions, including Incident Breach and Response advisory</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <hr>

          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>How does it work?</i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <ol class="work-list">
                <p>CyberClarity360™ is designed to be both rigorous and easy for both Corporations and Providers:</p>
                <li><span>Onboard Corporation</span><br />
                Our Onboarding Specialist will guide you through setting up your profile and users in our secure exchange platform.</li>
                <li><span>Invite Providers </span><br />
                New Providers are sent invitations to complete our best-in class CyberClarity360™ Assessment</li>
                <li><span>Complete CyberClarity360&trade; Assessment</span><br />
                After completing the CyberClarity360™ Assessment, Providers and receive their CyberClarity360&trade; Score, including prioritized remediation recommendations and benchmark reports.</li>
                <li><span>Unlock CyberClarity&trade; Score</span><br />
                New and existing Providers can unlock their CyberClarity&trade; Score to be reviewed by Corporations. Once unlocked, Corporations have continued access to the Provider’s CyberClarity360&trade; Score and Assessment history. </li>
              </ol>

            </div>
          </li>
          <hr>

          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>What key areas of risk does the CyberClarity360&trade; Assessment cover?</i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p >Developed by a multi-disciplinary team, our information security and data privacy assessment provides unique insights into organizational, political, geographical and technological risks. We leverage the NIST Cyber Security Framework, known for its openness, accessibility, peer review and depth of technical controls.</p>
            </div>
          </li>
          <hr>

          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>How often do Providers take CyberClarity360&trade; Assessments</i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p>Due to the evolving nature of technology and increasing sophistication of cyber threats, CyberClarity360™ Assessments are completed by Providers on a semi-annual basis.</p>
            </div>
          </li>
          <hr>
          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>Is the CyberClarity360&trade; Program based only on self-assessment?</i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p>No. Unlike other products, our unique CyberClarity360&trade; Program includes verification of Provider’s responses (sampling) each year to ensure accuracy. As such, a Provider’s CyberClarity360&trade; Score may be adjusted once their response has been verified. In addition, our Data Analytics Team continuously reviews Provider responses and verification reports to identify enhancements to our Assessment questions and proprietary scoring algorithm.
              </p>
              <p>
              Our Global Data Risk team can also provide more in-depth remote and on-site verification as needed. Please contact us for more information.
              </p>
            </div>
          </li>
          <hr>
          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>Do you provide any advice or recommendations to help improve a Providor's CyberClarity360&trade; Score?</i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p>Absolutely. Our goal is to help our Program Providers reduce their risk of breach by improving their cyber resilience and resulting CyberClarity360&trade; Score. Following completion of our comprehensive CyberClarity360&trade; Assessment, Providers can access a detailed Assessment Report that includes a breakdown of identified risks, and specific best-practice guidance on how they should address areas of vulnerability. Remediation advice is prioritized to those critical areas of highest risk, so Providers can focus their attention on implementing recommendations that will have the greatest positive impact on their CyberClarity360&trade; Score.
              </p>
            </div>
          </li>
          <hr>
          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>How do Providers share their CyberClarity360&trade; Assessment results with the Corporations? </i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p>Our secure proprietary exchange platform enables Providers to ‘unlock’ and instantly share their CyberClarity360™ Scores and Assessment information with any Corporation in our Program. Our unique solution simplifies the security assessment process and significantly decreases the operational cost to both Corporations and Providers.
              </p>
            </div>
          </li>
          <hr>
          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>Is CyberClarity360&trade; secure? </i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p>Yes. CyberClarity360&trade; was designed be both secure and scalable. We use the latest technology protocols and encryption of data-at-rest and in-transit to ensure the safety of our client information.
              </p>
            </div>
          </li>
          <hr>
          <li class="accordion-item " data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title"><span class="question">Q </span><i>How much does it cost?</i></a>
            <div class="accordion-content" data-tab-content>
              <span class="answer">A</span>
              <p>CyberClarity360&trade; offers phenomenal ROI — exceptional cost savings when compared to conducting assessments internally.
              </p>
              <p>CyberClarity360&trade; is an annual subscription Program with fees calculated based on the number of Corporations or Providers with whom CyberClarity360™ Assessments are shared. </p>
              <p>Please contact us at 833-CC0-RISK (833-220-7475) or email us at <a href="support@cyberclarity360.com" target="_blank">support@cyberclarity360.com</a>  for more information about our subscription fees.</p>
            </div>
          </li>
          <hr>
        </ul>
      </div>
    </div>
  </div>
</div>
