<div class="flex-hero front-page" style="background-image: url(assets/img/hero.jpg);">
  <div class="grid-container">
    <div class="grid-x align-center-middle text-center">
      <div class="medium-10 large-8">
        <div class="flex-copy">
          <h1>In partners we trust.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x protected-data">
    <div class="medium-12">
      <h2>It's your data. You need to know it's protected.</h2>
    </div>
    <div class="small-12 medium-3 award">
      <img src="assets/img/award.png" alt="">
    </div>
    <div class="medium-4">
      <p>Supply chain data security is a critical area of concern because trusted partners are often the weakest point in your defense against cyber attacks. Meaning that a deep understanding of partners’ cyber security and resilience is essential to protecting your confidential and highly sensitive information.</p>
    </div>
    <div class="medium-4">
      <p>CyberClarity360&trade; provides an independent 360&#176; assessment of your supply chain cyber risk. Our patent pending scoring system provide complete transparency and flexibility— and allows our clients to benefit from the collective power of the CyberClarity360&trade; community.</p>
    </div>
  </div>
</div>

<div class="graph">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="medium-6">
        <img src="assets/img/graph.png" alt="">
      </div>
      <div class="medium-6 graph-copy">
        <h3>Full Service. Unmatched Experience</h3>
        <p>CyberClarity360&trade; was developed by Duff & Phelps’ Global Risk Team of industry thought leaders, drawing upon deep experience helping organizations manage complex global data risk challenges.</p>
        <p>This service provides direct access to our multi-disciplinary team as well as a comprehensive suite of global data risk solutions that will reduce risk, reduce cost and establish the level of trust necessary to share data with partners throughout your supply chain.</p>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center protect-details">
    <div class="medium-12">
      <h3>How does it work?</h3>
    </div>
    <div class="cell small-12 medium-3">
      <div class="cost">
        <h4>Reduce cost</h4>
        <p>Automate your manual third-party cyber risk program.</p>
      </div>
    </div>
    <div class="cell small-12 medium-3">
      <div class="time">
        <h4>Speed-up onboarding</h4>
        <p>Third-party partners instantly share their existing scores and assessments.</p>
      </div>
    </div>
    <div class="cell small-12 medium-3">
      <div class="tablet">
        <h4>360&#176; assessment</h4>
        <p>Gain unique insights into organizational, political, geographical and technological risks.</p>
      </div>
    </div>
    <div class="cell small-12 medium-3">
      <div class="chart">
        <h4>benchmark partners</h4>
        <p>Compare your supply chain partners’ CyberClarity360™ Score.history.</p>
      </div>
    </div>
  </div>
</div>
