{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberClarity360 | Duff & Phelps</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
  <div class="title-bar show-for-small-only" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="logo-name small-2">
      <a class="site-title" href="/">
        <img src="assets/img/nav-logo.png" alt="">
      </a>
    </div>
    <div class="small-6">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>
  </div>

  <div id="responsive-menu" class="temp-hide-for-small" data-closable style="display:block;">
    <button class="close-button show-for-small-only" data-close><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></button>
      <div class="grid-container">
        <div class="grid-x align-right align-middle">
          <div class="medium-6 cell logo-name hide-for-small-only">
            <a class="site-logo" href="/">
              <img src="assets/img/nav-logo.png" alt="">
            </a>
          </div>
          <div class="small-12 medium-6 cell">
            <div class="grid-x align-middle align-right">
              <div class="medium-11">
                <div class="mobile-wrapper">
                  <ul>
                    <li><a class="nav-links" href="/">ABOUT</a></li>
                    <li><a class="nav-links" href="/faq.html">FAQs</a></li>
                    <li class="show-for-small-only"><a href="#">Corporate Login</a></li>
                    <li class="show-for-small-only"><a href="#">Provider Login</a></li>
                  </ul>
                </div>
              </div>
              <div class="medium-1"></div>
            </div>
          </div>
        </div>
        <a class="sponser-login hide-for-small-only" href="#">Corporate login</a>
        <a class="provider-login hide-for-small-only" href="#">Provider Login</a>
      </div>
    </div>


    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    <div class="contact">
      <div class="grid-container">
        <div class="grid-x align-middle text-center">
          <div class="medium-12">
            <h2>Get in Touch.</h2>
            <p>For more information contact us at 833-CCO_RISK (833-220-7475)</p>
            <p>or email us at info@cyberclarity360.com.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="grid-container">
        <div class="grid-x align-middle">
          <div class="medium-3 cell">
            <div class="footer-logo">
              <a class="site-logo" href="/">
                <img src="assets/img/footer-logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="small-4 medium-3 cell">
            <p class="footer-address">
              55 East 52nd Street <br />
              New York New York 10055 <br />
              +1 212 871 2000
            </p>
          </div>
          <div class="small-8 medium-6">
            <div class="footer-links">
              <a href="#">Cookies</a>
              <a href="#">Disclosure</a>
              <a href="#">Legal Slavery and Human Trafficking Statement </a>
              <a href="#">Privacy</a>
              <p>&copy; Copyright 2018 CyberClarity360&trade; <br /> Duff &amp; Phelps is a trade name for Duff &amp; Phelps Corporation and its affiliates. Read more.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
