.contact {
  .grid-container {
    max-width: 100rem;
  }
  background-color: $red;
  padding: 2rem 0;
  color: #fff;
  h2 {
    font-size: 45px;
    line-height: 1;
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 0;
    line-height: 1.5;
  }
}
