.faq-copy {
  margin-bottom: 5rem;
  margin-top: 5rem;
  h2 {
    color: $red;
    text-align: center;
    @include breakpoint(small only) {
      font-size: 1.7rem;
    }
  }
  .benefits-list {
    padding-top: 1rem;
    list-style-type: none;
    p{
      font-size: 18px;
      font-weight: 600;
    }
    li {
      padding: 0;
      margin-left: 1rem;
      margin-top: 0.5rem;
      &:before {
        content:'✓';
        margin-right: 1rem;
        margin-left: -1.7rem;
      }
    }
  }

  .work-list {
    padding-top: 0rem;
    margin-left: 3rem;
    p{
      font-size: 18px;
      font-weight: 600;
    }
    li {
      padding: 0;
      margin-left: 2rem;
      margin-top: 1rem;
      span {
        font-weight: 600;
      }
    }
  }

  .is-accordion-submenu-parent {
    margin-left: 10px;
  }
  li {
    padding-top: 2rem;
    max-width: 70rem;
    padding-bottom: 1rem;
    .accordion-title {
      border: 0;
      &:hover,
      &:focus {
        background-color: #fff;
      }
      &:before {
        font-size: 40px;
        color: #858282;
      }
    }
    a {
      color: #000!important;
      line-height: 1.5rem;
      font-size: 16px;
    }
  }
  .accordion-content{
    border: 0;
    padding-top: 2rem;
    p {
      max-width: 63rem;
      line-height: 1.8;
    }
  }
  .question {
    color: $red;
    font-weight: 600;
    font-size: 40px;
  }
  .answer {
    color: #000;
    font-weight: 600;
    font-size: 40px;
    line-height: .5;
    float: left;
    padding-right: .5rem;
  }
  hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 0;
    border-right: 0;
    border-bottom: 3px solid #ebebeb;
    border-left: 0;
    width: 100%;
  }
}
