.flex-hero {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  position: relative;
  height: 400px;
  @include breakpoint(small only) {
    margin-bottom: 0;
    height: 200px;
  }
  .grid-container, .grid-x {
    height: 100%;
  }
  .flex-copy {
    h1 {
      color: #fff;
      font-size: 2.5rem;
      line-height: 1em;
      font-weight: 300;
    }
  }
  &.front-page {
    @include breakpoint(medium) {
      h1 {font-size: 4rem;}
    }
  }
}
