.footer {
  background-color: #636363;
  height: 100%;
  padding: 1.85rem 0;
  position: relative;
  .grid-container {
    max-width: 90rem;
  }
  .cell {
    padding: 0 10px;
  }
  .footer-logo {
    // padding-top: 1.5rem;
    @include breakpoint(small only) {
      padding-top: 0;
      padding-bottom: 1rem;
    }
  }
  .footer-address {
    @include breakpoint(small only) {



    }



  }
  p {
    font-size: 12px;
    margin-bottom: 0;
    color: #fff;
  }
  .footer-links {

    a {
      color: #fff;
      text-decoration: underline;
      font-size: 15px;
      padding-right: 8px;
    }
  }
}
