.graph {
  background-color: #ebebeb;
  @include breakpoint(small only) {
    img {
      padding-bottom: 2rem;
    }
  }
  .grid-x {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .graph-copy {
    padding-left: 3rem;
    h3 {
      color: $red;
    }
    p {
      font-size: 1.25rem;
      &:nth-child(3) {
        margin-top: 2rem;
      }
    }
    @include breakpoint(small only) {
      padding-left: 0;
    }
  }
}
