.protect-details {
  padding: 5rem 0;
  @include breakpoint(small only) {
    padding: 3rem 0;
  }
  h3 {
    color: $red;
    text-align: center;
    margin-bottom: 2rem;
    @include breakpoint(small only) {
      font-size: 2.1rem;
    }
  }
  .cell > div {
    background-repeat: no-repeat;
    padding-bottom: 1rem;
    padding-top: 9rem;
    background-position: top center;
    text-align: left;
    margin: 0 auto;
    max-width: 70%;
    h4 {
      color: $red;
      font-weight: 600;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }

  .cost{
    background-image: url(../img/cost.jpg);
  }
  .time {
    background-image: url(../img/clock.jpg);
  }
  .tablet {
    background-image: url(../img/tablet.jpg);
  }
  .chart {
    background-image: url(../img/chart.jpg);
  }
  @include breakpoint(small only) {
    .cost{
      background-image: url(../img/cost.jpg);
      background-repeat: no-repeat;
      padding-bottom: 1rem;
      padding-top: 8rem;
      background-position: top center;
      padding-left: 1rem;
      padding-right: 1rem;
      .title {
        text-align: center;
        font-size: 1.5rem;
      }
    }
    .time {
      background-image: url(../img/clock.jpg);
      background-repeat: no-repeat;
      padding-bottom: 1rem;
      padding-top: 8rem;
      background-position: top center;
      padding-left: 1rem;
      padding-right: 1rem;
      .title {
        text-align: center;
        font-size: 1.5rem;
      }
    }
    .tablet {
      background-image: url(../img/tablet.jpg);
      background-repeat: no-repeat;
      padding-bottom: 1rem;
      padding-top: 8rem;
      background-position: top center;
      padding-left: 1rem;
      padding-right: 1rem;
      .title {
        text-align: center;
        font-size: 1.5rem;
      }
    }
    .chart {
      background-image: url(../img/chart.jpg);
      background-repeat: no-repeat;
      padding-bottom: 1rem;
      padding-top: 8rem;
      background-position: top center;
      padding-left: 1rem;
      padding-right: 1rem;
      .title {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
}
