.protected-data {
  padding-bottom: 5rem;
  @include breakpoint(small only) {
    padding-bottom: 2rem;
  }
  h2 {
    color: $red;
    text-align: center;
    padding: 2rem;
    @include breakpoint(small only) {
      font-size: 2.25rem;
      padding-top: 0;
    }
  }
  .award {
    @include breakpoint(small only) {
      text-align: center;
      padding-bottom: 2rem;
    }
  }
  p {
    padding-right: 3rem;
    font-size: 1rem;
  }
}
