.title-bar {
  background: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25);
  position: fixed;
  height: 81px;
  width:100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 10;
  .menu-icon {
    position: absolute;
    right: 20px;
  }
  .menu-icon::after {
    height: 4px;
    background: #414042;
    box-shadow: 0 7px 0 #414042, 0 14px 0 #414042;
    top:-6px;
  }
  img {
    max-width: 65%;
    padding-left: .75rem;
  }
}

#responsive-menu {
  .grid-container {
    max-width: 90rem;
    padding: 20px 0;
    position: relative;
  }
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  img {
    max-height: 75px;
    padding-left: 1rem;
  }
  .mobile-wrapper {
    text-align: right;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          color: #272727;
          font-size: 1.5rem;;
          padding: 0.9rem 2rem;
          &:hover {
            color: $red;
            transition: all 200ms ease-in;
          }
        }
      }
    }
  }

  .sponser-login {
    position: absolute;
    bottom: -2.2rem;
    right: 347px;
    background-color: #898989;
    padding: 7px 42px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    &:hover {
      transition: all 200ms ease-in;
      background-color: #b1b3b5;
    }
  }
  .provider-login {
    position: absolute;
    bottom: -2.2rem;
    right: 7.9rem;
    background-color: #898989;
    padding: 7px 42px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    &:hover {
      transition: all 200ms ease-in;
      background-color: #b1b3b5;
    }
  }
  .sign-in {
    position: absolute;
    bottom: -2.2rem;
    right: 14.9rem;
    background-color: #f3bc52;
    padding: 7px 55px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    &:hover {
      transition: all 200ms ease-in;
      background-color: #cfa450;
    }
  }
}
@include breakpoint(small only) {
  #responsive-menu {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: rgba(65,64,66,.95);
    .grid-container,
    .grid-x {
      height: 100%;
    }
    .close-button {
      color: #fff;
    }
    .mobile-wrapper {
      text-align: center;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          width: 100%;
          padding: 0;
          margin-bottom: 1rem;
          a {
            color: #fff;
            font-size: 2rem;
            font-weight: normal;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
